@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Ümumi Stildə */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
.dis-none{
  display: none !important;
  /* display: none; */
}
/* Header Stili */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: #f5f5f6;
}

.blog-text {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 13px;
    font-weight: 500;
    margin: 0 20px;
}

.colorGray {
    color: #959ba4;
}

.colorBlack {
    color: #000;
}

button {
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    background-color: #7b3ff7;
    color: white;
}

button h1 {
    margin: 0;
    font-size: 14px;
}

.hamburger-icon {
    width: 40px;
    height: 40px;
}

/* Ana Başlıq */
.header-text {
    font-size: 50px;
    font-weight: 700;
    margin: 50px 200px;
}

/* Konteyner və Seçici Stili */
.container {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    padding: 0 200px;
}

.right {
    margin-right: 10px;
}

.size {
    font-size: 14px;
    margin-bottom: 10px;
}

.currency-selector {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: auto;
    margin-bottom: 20px;
}

.value, .value1 {
    padding: 14px 20px;
    background-color: white;
    color: #aaa;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #959ba4;
    transition: background-color 0.3s, color 0.3s;
}

.value:hover, .value1:hover {
    background-color: #7b3ff7;
    color: white;
}

.selected {
    background-color: #7b3ff7;
    color: white;
}

/* Input Sahəsi */
.input-number-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 132px;
    border: 1px solid #959ba4;
    border-radius: 8px;
    padding: 20px;
}

input {
    border: none;
    font-size: 30px;
    font-weight: 600;
    outline: none;
}

.currencyConversion ,.currencyConversionR {
    color: #959ba4;
    margin-top: 20px;
}

/* Error mesajı üslubu */
.error {
  font-size: 30px;
  font-weight: 600;
  color: red;
  text-align: center;
}

.errorimg {
  height: 120px;
}

/* Error Mətn və Şəkil */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}


/* Media Queries */
@media (max-width: 1279px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .header-text {
        font-size: 36px;
        margin: 20px 0;
    }

    .right {
        margin-bottom: 20px;
    }

    .blog-text {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-text {
        font-size: 30px;
        text-align: center;
    }

    .container {
        padding: 0 10px;
    }
}
